h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-weight: bold;
}

.bloco {
    text-align: center;
    background-color: aquamarine;
    color: black;
    border: 2px solid;
    font-size: 2em;
}