@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --cor-fundo: #687a79;
    --cor-principal: #000000;
    --cor-destaque: #68f545;
    --cor-boton: #09e962;
    --cor-texto-destaque: #c3e724;
    --cor-logo: rgb(5, 15, 104);
    --Brasil: green;
    --Estados-Unidos: #2c0575;
    --Canada: #f70909;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.menu {
    background-color: var(--cor-fundo);
    width: 100vw;
    min-height: 100vh;
    font-family: 'Pacifico', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_menu {
    padding: 0rem 1vw;
    width: 30vw;
    border-radius: 50%;
    transition: 0.5s;
}

.img_menu:hover {
    cursor: pointer;
    filter: grayscale(0.5);
    padding: 2rem;
}

.fotos {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navegacao {
    width: 100%;
    background-color: var(--cor-principal);
}

.navegacao ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navegacao a {
    display: inline-block;
    padding: 1.5625rem .9375rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navegacao a:hover {
    background-color: var(--cor-destaque);
    font-size: 1.25rem;
    color: var(--cor-texto-destaque);
}

.menu h1 {
    font-family: "Pacifico";
    color: var(--cor-logo);
    text-align: center;
    padding-top: 5vh;
    font-size: 3rem;
}

.seta_topo {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta_topo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.seta_topo svg {
    fill: rgb(76, 156, 221);
    background-color: lightblue;
    border-radius: 50%;
    transition: 0.3s;
}

.seta_topo svg:hover {
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    fill: rgb(176, 255, 131);
    background-color: green;
}

.caixa {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Pacifico', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa h1 {
    text-align: center;
    padding: 1.25rem;
}

.caixa p {
    font-size: 1.25rem;
}

.animal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.animal img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.description {
    font-size: 14px;
    color: #555;
}
#Brasil{
    background-color: var(--Brasil);
    background-image: url(https://media.istockphoto.com/id/935746242/pt/foto/mata-atlantica-atlantic-forest-in-brazil.jpg?s=612x612&w=0&k=20&c=XoiwWlcQ9odpWvNrpAeq1ZM3fXEFqVbARaMo-uD9LYA=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Estados-Unidos{
    background-color: var(--Estados-Unidos);
}
#Canada {
    background-color: var(--Canada);
}

footer{
    max-width: 100vw;
    padding: 15px;
    width: 100vw;
    height: 10vh;
    background-color: gray;
}